<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aj.foodcourt2" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_food_court"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccelerometerActivity"
            android:label="@string/title_activity_accelerometer" >
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GraphAlexanderActivity"
            android:label="@string/title_activity_graph_alexander"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GraphJoostActivity"
            android:label="@string/title_activity_graph_joost"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WifiScanActivity"
            android:label="@string/title_activity_wifi_scan" >
        </activity>
        <activity
            android:name=".BluetoothScanActivity"
            android:label="@string/title_activity_bluetooth_scan" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".CombinedActivity"
            android:label="@string/title_activity_combined" >
        </activity>
        <activity
            android:name=".MagneticJoostActivity"
            android:label="@string/title_activity_magnetic_joost" >
        </activity>
    </application>

</manifest>
